
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - HNJ Films</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'admin-style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/all.css' %}">
    <link rel="stylesheet" href="{% static 'css1/add-form.css' %}">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa fa-video-camera"></i>
                        </span>
                        <span class="brand">HNJ FILMS</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'admin' %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'courses' %}">
                        <span class="icon"><i class="fas fa-book-open"></i></span>
                        <span class="title">Courses</span>
                    </a>
                </li>

                <li>
                    <a href="/services/">
                        <span class="icon"><i class="fa-solid fa-photo-film"></i></span>
                        <span class="title">Services</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'bookingshow' %}">
                        <span class="icon"><i class="fa fa-address-card"></i></span>
                        <span class="title">Bookings</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'staff' %}">
                        <span class="icon"><i class="fas fa-user-clock"></i></span>
                        <span class="title">Staff</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="title">Audtions</span>
                    </a>
                </li>

                <li>
                    <a href="/student/">
                        <span class="icon"><i class="fas fa-address-book"></i></span>
                        <span class="title">Profiles</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-rectangle-ad"></i></span>
                        <span class="title">Ads</span>
                    </a>
                </li>
                <li>
                    <a href="/logoutadmin/">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>
                        <span class="title signout">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="search">
                    <label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here">
                        
                    </label>
                </div>

                <div class="user">
                    <i class="fa fa-user-circle"></i>
                </div>
            </div>
            
               

            <div class="service-form-container">
                <form action="# " method="POST" enctype="multipart/form-data" name="myform" onsubmit="return validation()">
                    {% csrf_token %}
                    <h2 class="form-title">ADDING COURSE </h2>
                    <div class="form-content">
                        <div class="input-box">
                            <label for="name">NAME</label>
                            <input type="text" placeholder="ENTER COURSE NAME" name='course_name' required>
                        </div>
                        <div class="input-box">
                            <label for="name">CAPTION</label>
                            <input type="text" placeholder="ENTER COURSE CAPTION" name='course_cap' required>
                        </div>
                        <div class="input-box">
                            <label for="name">DESCRIPTION</label>
                            <textarea name='course_desc' id="" cols="38" rows="8" placeholder="ENTER COURSE DESCRIPTION" required></textarea>
                            {% comment %} <input type="text" placeholder="ENTER COURSE DESCRIPTION" name='course_desc' required> {% endcomment %}
                        </div>
                        <div class="input-box">
                            <label for="name">AVALABLE SEAT</label>
                            <input type="number" placeholder="ENTER AVALABLE SEAT" name='course_aval_seat' >
                        </div>
                        <div class="input-box">
                            <label for="name">SELECT IMAGE</label>
                            <input type="file"  name='course_image' required>
                        </div>
                        <div class="input-box">
                            <label for="name">DURATION</label>
                            <input type="text" placeholder="ENTER COURSE DURATION" name='course_duration' required>
                        </div>
                        <div class="input-box">
                            <label for="name">FEES</label>
                            <input type="float" placeholder="ENTER COURSE FEES" name='course_fees' required>
                        </div>
                        

                        <div class="button-container">
                            <button type="submit" name="submit">ADD</button>
                    
                    </div>

                </form>
                
                <script>

                    var numb=document.forms['myform']['course_aval_seat'];

                    function validation()
                    {
                        if(numb.value<0)
                        {
                            alert("postive value required for avalable seat ")
                            return false;
                        }

                        return true;
                    }
                </script>
            </div>

        </div>

    </div>
    <!-- =========== Scripts =========  -->
    <script src="{% static 'webjs/admin.js' %}"></script>




</body>
</html>