
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - HNJ Films</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'admin-style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/all.css' %}">
    <link rel="stylesheet" href="{% static 'css1/add-form.css' %}">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa fa-video-camera"></i>
                        </span>
                        <span class="brand">HNJ FILMS</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'admin' %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'courses' %}">
                        <span class="icon"><i class="fas fa-book-open"></i></span>
                        <span class="title">Courses</span>
                    </a>
                </li>

                <li>
                    <a href="/services/">
                        <span class="icon"><i class="fa-solid fa-photo-film"></i></span>
                        <span class="title">Services</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'bookingshow' %}">
                        <span class="icon"><i class="fa fa-address-card"></i></span>
                        <span class="title">Bookings</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'staff' %}">
                        <span class="icon"><i class="fas fa-user-clock"></i></span>
                        <span class="title">Staff</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="title">Audtions</span>
                    </a>
                </li>

                <li>
                    <a href="/student/">
                        <span class="icon"><i class="fas fa-address-book"></i></span>
                        <span class="title">Profiles</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-rectangle-ad"></i></span>
                        <span class="title">Ads</span>
                    </a>
                </li>
                <li>
                    <a href="/logoutadmin/">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>
                        <span class="title signout">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="search">
                    <label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here">
                        
                    </label>
                </div>

                {% comment %} <form action="" method="GET" >
                    <div class="search">
                    
                        <label>
                            <input type="text" placeholder="Search Here" name="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <button type="submit" name="submit">Search
                            </button> 
                        </label>
                    
                    </div>

                    
                </form> {% endcomment %}

                <div class="user">
                    <i class="fa fa-user-circle"></i>
                </div>
            </div>
            
               

            <div class="service-form-container">
                <form action="" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <h2 class="form-title" >ADDING COURSE DURATION </h2>
                    <div class="form-content">
                      
                        
                        <div class="input-box">
                            <label for="name">COURSE DURATION</label>
                            <input type="text"  name='course_duration' required>
                        </div>
                        <div class="input-box">
                            <label for="name">COURSE FEES</label>
                            <input type="float"  name='course_fees' required>
                        </div>
                        
                        <div class="input-box">
                            <label for="name">COURSE ID</label>
                            <input type="int"  name='course_id' value="{{display.course_id}}" readonly name="course_id" >
                        </div>
                        

                        <div class="button-container">
                            <button type="submit" name="submit">ADD</button>
                    
                    </div>

                </form>
                </div>

        </div>


    </div>
    <!-- =========== Scripts =========  -->
    <script src="{% static 'webjs/admin.js' %}"></script>





</body>
</html>