

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - HNJ Films</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static 'admin-style.css' %}">
    <link rel="stylesheet" href="{% static 'css1/all.css' %}">
    <link rel="stylesheet" href="{% static 'css1/table-style.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css1/test.css' %}"> {% endcomment %}
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa fa-video-camera"></i>
                        </span>
                        <span class="brand">HNJ FILMS</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'admin' %}">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'courses' %}">
                        <span class="icon"><i class="fas fa-book-open"></i></span>
                        <span class="title">Courses</span>
                    </a>
                </li>

                <li>
                    <a href="/services/">
                        <span class="icon"><i class="fa-solid fa-photo-film"></i></span>
                        <span class="title">Services</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'bookingshow' %}">
                        <span class="icon"><i class="fa fa-address-card"></i></span>
                        <span class="title">Bookings</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'staff' %}">
                        <span class="icon"><i class="fas fa-user-clock"></i></span>
                        <span class="title">Staff</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'showservicebook' %}">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="title">service_book</span>
                    </a>
                </li>

                <li>
                    <a href="/student/">
                        <span class="icon"><i class="fas fa-address-book"></i></span>
                        <span class="title">Profiles</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-rectangle-ad"></i></span>
                        <span class="title">Audition</span>
                    </a>
                </li>
                <li>
                    <a href="/logoutadmin/">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>
                        <span class="title signout">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="search">
                    <label>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here">
                        
                    </label>
                </div>

                {% comment %} <form action="" method="GET" >
                    <div class="search">
                    
                        <label>
                            <input type="text" placeholder="Search Here" name="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <button type="submit" name="submit">Search
                            </button> 
                        </label>
                    
                    </div>

                    
                </form> {% endcomment %}

                <div class="user">
                    <i class="fa fa-user-circle"></i>
                </div>
            </div>
            
               

               
             <br>
                <center><h1>Service Booking</h1></center>
                
                <div class="table_box">
                   
                    <br>
                    <div class="table_row table_head">
                        <div class="table_cell">
                            <h5>BOOK ID</h5>
                        </div>
                        <div class="table_cell">
                            <h5>BOOK DATE</h5>
                        </div>
                        <div class="table_cell">
                            <h5>ADDRESS</h5>
                        </div>
                        <div class="table_cell">
                            <h5>MOBILE</h5>
                        </div>
                        
                        
                        <div class="table_cell">
                            <h5>DOB</h5>
                        </div>
                       
                        
                        <div class="table_cell">
                            <h5>BOOK PRICE </h5>
                        </div>
                        
                        
                        <div class="table_cell">
                            <h5>CUSTOMER NAME </h5>
                        </div>
                        
                        <div class="table_cell">
                            <h5>SERVICE NAME</h5>
                        </div>
                        
                        
                        <div class="table_cell">
                            <h5>DELETE</h5>
                        </div>
                        
                    </div>
                    {% for i in ServiceBooking %}
                        <div class="table_row " >
                                <p class="table_cell">{{i.book_id}}</p>
                                <p class ="table_cell">{{i.book_date}}</p>
                                <p class ="table_cell">{{i.c_address}}</p>
                                <p class= "table_cell">{{i.c_mobile}}</p>
                                <p class="table_cell">{{i.c_dob}}</p>
                                <p class="table_cell">{{i.book_price}}</p>
                                <p class="table_cell">{{i.cust.cust_firstname}}</p>
                                <p class="table_cell">{{i.service.service_name}}</p>
                                
                               
                               
                                
                               
                                <p class="table_cell">
                                    <a href="/bookingshow/{{i.book_id}}">
                                        <span class="icon"><i class="bi-x-circle-fill"></i></span>
                                    </a>
                                </p>  
                        </div>
                        {% endfor %}
                
                
            
        </div>


        
    </div>
    <!-- =========== Scripts =========  -->
    <script src="{% static 'webjs/admin.js' %}"></script>





</body>
</html>